/.pytest_cache
/accidents.csv
/accidents.py
/address.py
/add_area_code.py
/boxes.py
/can_list.csv
/can_sizes.py
/chemistry.py
/cone_volume.py
/discount.py
/draw2d.py
/esteem.py
/example.py
/family_history.py
/fitness.py
/formula.py
/fruit.py
/fuel_usage.py
/get_line.py
/heart_rate.py
/heart_rate_gui.py
/Lists and loops (preparation content).pdf
/lists_introduction.py
/list_example.txt
/names.py
/nature_relatedness_scale.py
/number_entry.py
/passkeep-main
/pass_args.py
/phone_numbers.txt
/products.csv
/proposal.txt
/provinces.py
/provinces.txt
/pupils.csv
/pupils.py
/random_numbers.py
/receipt.py
/reflection.txt
/register.txt
/request.csv
/sample.py
/scene.py
/sentences.py
/students.csv
/students.py
/test_address.py
/test_add_area_code.py
/test_chemistry_1.py
/test_chemistry_2.py
/test_college_management_sql.py
/test_names.py
/test_products.py
/test_random_numbers.py
/test_sentences.py
/test_students.py
/test_words.py
/tire_volume.py
/tire_volume_gui.py
/vehicles.py
/volumes.txt
/words.py
/__pycache__